

.cd-user-modal{
    width: 1210px;
	height: 870px;
	margin: 0 auto;
	background: url("../img/background.jpg")repeat-x;
	background-size: 100% 100%;
}

.cd-user-modal-container{
    width:1200px;
	height: 430px;
} 
  
  

.sideleft{
	width:460px;
	height: 250px;
	float: left;
	padding:85px 130px
}
.sideleft p{
	padding: 8px 0;
	font-size: 16px;
}


.sideleft{
	width:460px;
	height: 250px;
	float: left;
	padding:85px 130px
}
.sideleft p{
	padding: 8px 0;
	font-size: 16px;
}
.sideright{
	width: 480px;
	height: 450px;
	float: right;
}

.sideright .cd-signup{
	width: 330px;
	height: 350px;
	background-color:rgba(255,255,255,0.75);
	margin: 50px 90px;
}

/* .select{
	display: inline-block;
	width: 120px;
	position: relative;
	vertical-align: middle;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
	color: #555;
	border: 1px solid #aaa;
	text-shadow: none;
	border-radius: 4px;	
	transition: box-shadow 0.25s ease;
	z-index: 2;
}

.select:hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.select:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #ccc;
	top: 14px;
	right: 10px;
	cursor: pointer;
	z-index: -2;
}
.select select {
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select select:focus {
	outline: none;
} */

input[type="text"],
input[type="password"],
input[type="button"]{
	-web-kit-appearance:none;
  	-moz-appearance: none;
  	display: block;
  	margin: 0 auto;
  	font-size:15px;
  	width: 240px;
}


input[type="text"]{
	height:35px;
	border-radius:3px;
	border:1px solid #c8cccf;
	color:#6a6f77;
	outline:0;
}
input[type="password"]{
	height:35px;
	border-radius:3px;
	border:1px solid #c8cccf;
	color:#6a6f77;
	outline:0;
}
input[type="button"]{
	margin-top: 25px;
	height: 35px;
	background:  rgb(135, 206, 206);
	color: #052531;
	font-weight: bold;
	font-size: 16px;
}
input[type="button"]:hover{
	background: azure;
	cursor: pointer;
}

  