{% extends "base.html" %}

{% block header %}
<div class="header" id="head">
    <div class="title">基于人脸识别的办公室系统</div>
    <link type="text/css" rel="stylesheet"  href="{{static_url("css/register.css")}}" />
</div>
   
{% end %}

{% block body %}

<div class="cd-user-modal"> 
    <div class="cd-user-modal-container">
        <div class="sideleft">
            <h1>基于人脸识别的办公室系统
            </h1>
            </br></br></br>
            <p>拍照并上传合照
            </p>
            <p>识别照片人脸
        </div>
        <div class="sideright">
            <div id="cd-signup"> 
                <form class="cd-form" method="POST">
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="rusername">用户名</label>
                        <input class="full-width has-padding has-border" id="rusername" type="text" placeholder="输入用户名">
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-email" for="remail">邮箱</label>
                        <input class="full-width has-padding has-border" id="remail" type="text" placeholder="输入mail">
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-password" for="rpassword">密码</label>
                        <input class="full-width has-padding has-border" id="rpassword" type="password"  placeholder="输入密码">
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-password" for="rrepassword">确认密码</label>
                        <input class="full-width has-padding has-border" id="rrepassword" type="password"  placeholder="确认密码">
                    </p>

                    

                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">我已阅读并同意 <a href="#0" id="useragree">用户协议</a></label>
                    </p>

                    <p class="fieldset">
                        <input class="full-width2" type="button" id="register" value="注册新用户" onmouseover="this.style.backgroundPosition='left -36px'"
                        onmouseout="this.style.backgroundPosition='left top'">
                    </p>

                    <p class="fieldset">
                        <input class="full-width2" type="button" id="tologin" value="返回登录" onmouseover="this.style.backgroundPosition='left -36px'"
                        onmouseout="this.style.backgroundPosition='left top'">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div> 


{% end %}

{% block footer %}
<div class="footer" id="foot">
    <div class="footer" id="foot">
        <div class="copyright">
            <div class="img">
                <i class="icon2"></i><span>办公室：7#605</span>
            </div>
            <div class="img">
                <i class="icon3"></i><span>作者：冯读硕</span>
            </div>
            <div class="img">
                <i class="icon3"></i><span>电话：18896809086</span>
            </div>
        </div>       
    </div>     
</div>

{% end %}
